In [1]:
import pandas as pd
import psycopg2
from psycopg2 import sql

In [2]:
PGEND_POINT = 'gameanalysis.cjhwxnjx5697.us-west-1.rds.amazonaws.com' # End_point
PGDATABASE_NAME = 'gameanalysis' # Database Name example: youtube_test_db
PGUSER_NAME = 'postgres' # UserName
PGPASSWORD = '5}eN^2g0rac3' # Password"

In [3]:
def connect():
    
    # Set up a connection to the postgres server.
    conn_string = "host="+ PGEND_POINT +" port="+ "5432" +" user=" + PGUSER_NAME \
                  +" password="+ PGPASSWORD
    
    conn = psycopg2.connect(conn_string)
    print("Connected!")

    # Create a cursor object
    cursor = conn.cursor()
    
    return conn, cursor

In [4]:
conn, cursor = connect()

Connected!

In [19]:
query_champions = sql.SQL("""
SELECT id, tag1, tag2 FROM champions;
""")

#query_champions = sql.SQL("""
#SELECT * FROM champions;
#""")

In [20]:
cur = conn.cursor()
cur.execute(query_champions)

In [21]:
df_champions = pd.DataFrame(cur.fetchall(), columns=['id','tag1', 'tag2'])

In [22]:
df_champions

              id      tag1      tag2
0          Annie      Mage       n/a
1           Olaf   Fighter      Tank
2          Galio      Tank      Mage
3    TwistedFate      Mage       n/a
4        XinZhao   Fighter  Assassin
..           ...       ...       ...
145     Aphelios  Marksman  Marksman
146         Pyke   Support  Assassin
147         Yone  Assassin   Fighter
148         Sett   Fighter      Tank
149       Lillia   Fighter      Mage

[150 rows x 3 columns]

In [23]:
cur.close() 
conn.commit()