In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
from sklearn.svm import SVC
import pandas as pd
import tensorflow as tf

# Import our input dataset
mastery_df = pd.read_csv('championMasteryBeta.csv')
mastery_df.head()

,Date,championId,championLevel,championPoints,lastPlayTime,championPointsSinceLastLevel,championPointsUntilNextLevel,chestGranted,tokensEarned,summonerId
0,8/22/2022,236,1,1397,1571814478000,1397,403,False,0,kFWOpLcoDh0Wgqp1Cn_2fjBaWpCSkQycPffBN43--e7B1aQb
1,8/22/2022,56,1,535,1546381650000,535,1265,False,0,kFWOpLcoDh0Wgqp1Cn_2fjBaWpCSkQycPffBN43--e7B1aQb
2,8/22/2022,16,6,50990,1660367557000,29390,0,True,0,kFWOpLcoDh0Wgqp1Cn_2fjBaWpCSkQycPffBN43--e7B1aQb

In [2]:
mastery_df = mastery_df.drop(columns='Date')
mastery_df = mastery_df.drop(columns='tokensEarned')
mastery_df = mastery_df.drop(columns='chestGranted')
mastery_df = mastery_df.drop(columns='summonerId') #most likely keep this later on to merge our diamondPlayer dataset with this one 
mastery_df

,championId,championLevel,championPoints,lastPlayTime,championPointsSinceLastLevel,championPointsUntilNextLevel
0,236,1,1397,1571814478000,1397,403
1,56,1,535,1546381650000,535,1265
2,16,6,50990,1660367557000,29390,0

In [5]:

#define x and y
X = mastery_df.drop(columns='championPoints')
y= mastery_df.championPoints

#split training/test data
X_train, X_test, y_train, y_test = train_test_split(X,y,random_state=1, stratify=y)

ValueError: The least populated class in y has only 1 member, which is too few. The minimum number of groups for any class cannot be less than 2.