In [1]:
# Import Dependencies
import json
import pandas as pd

In [15]:
# Load in data
matches2020_file = "./Resources/csv/matches2020.csv"
champ_stats = "./Resources/csv/champion_stats.csv"
gen_esports = "./Resources/csv/GeneralEsportData.csv"
historic_esports = "./Resources/csv/HistoricalEsportData.csv"
players_file = "./Resources/csv/Players.csv"
teams_file = "./Resources/csv/Teams.csv"
champion_mastery = "./Resources/csv/championMasteryBeta.csv"
diamond_players = "./Resources/csv/diamondPlayerIDs.csv"

In [16]:
pd.read_csv(champion_mastery)

,Date,championId,championLevel,championPoints,lastPlayTime,championPointsSinceLastLevel,championPointsUntilNextLevel,chestGranted,tokensEarned,summonerId
0,8/22/2022,236,1,1397,1571814478000,1397,403,False,0,kFWOpLcoDh0Wgqp1Cn_2fjBaWpCSkQycPffBN43--e7B1aQb
1,8/22/2022,56,1,535,1546381650000,535,1265,False,0,kFWOpLcoDh0Wgqp1Cn_2fjBaWpCSkQycPffBN43--e7B1aQb
2,8/22/2022,16,6,50990,1660367557000,29390,0,True,0,kFWOpLcoDh0Wgqp1Cn_2fjBaWpCSkQycPffBN43--e7B1aQb

In [18]:
pd.read_csv(diamond_players)

,Date,leagueId,queueType,tier,rank,summonerId,summonerName,leaguePoints,wins,losses,veteran,inactive,freshBlood,Unnamed: 13,Unnamed: 14,Unnamed: 15,Unnamed: 16,hotStreak
0,8/22/2022,9a70a108-f809-45fb-9d80-1aa20100bbc8,RANKED_SOLO_5x5,DIAMOND,IV,kFWOpLcoDh0Wgqp1Cn_2fjBaWpCSkQycPffBN43--e7B1aQb,ˇ kiss ˇ,72,83,56,False,False,False,NaN,NaN,NaN,NaN,FALSE
1,8/22/2022,b4df15de-f0a7-4815-9d67-639581901281,RANKED_SOLO_5x5,DIAMOND,IV,DHAkvCTJcyHAuJYxpdyEOR2nUSl6IllUjdYY0CknYgKCvlKb,Terikuruzu,52,55,62,False,False,False,NaN,NaN,NaN,NaN,FALSE
2,8/22/2022,2ff31712-faf0-4c74-a7f8-025bc4106bcc,RANKED_SOLO_5x5,DIAMOND,IV,5ZQp2rKYI8U8l0kMKf03X3CLNLcTTrul4uTCPA30T5qsiivY,KurumaEbii,46,192,195,False,False,False,NaN,NaN,NaN,NaN,FALSE
3,8/22/2022,c7d12b58-17e5-4b6f-9eef-efd890281757,RANKED_SOLO_5x5,DIAMOND,IV,SJwLp5ZzFbdE9Qk-JTnA7M7XJkYC2vwBAdZVGnr1CTUOzkQD,swimmy1318,0,360,356,False,False,False,NaN,NaN,NaN,NaN,FALSE
4,8/22/2022,6d31cd2e-5092-4374-9e27-1015b22368dc,RANKED_SOLO_5x5,DIAMOND,IV,COsscwJOMu4KJ9w5X7ubFTEkTx2CoEcLX1-iWp1nmISs8OYi,vilest,1,82,74,False,False,True,NaN,NaN,NaN,NaN,FALSE
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
815,8/22/2022,c8cb93c7-49af-4678-be54-996ec909d658,RANKED_SOLO_5x5,DIAMOND,I,qYUkbrsXmsjEHNRlMEzu55iM21LP7y17lpGfR5Kw9IQQQEPV,Melvox,14,28,15,False,False,False,False,NaN,NaN,NaN,NaN
816,8/22/2022,9a0d09dc-cdfa-4088-832a-c248e288d1ac,RANKED_SOLO_5x5,DIAMOND,I,YOnkR3EhJgI4Ts97_-S3AsJNSLk9837aLNk8pg12OgsyZJqC,supsupsupspsp,37,69,70,False,False,False,True,NaN,NaN,NaN,NaN
817,8/22/2022,195fea64-4a81-4293-ae8b-28b059e4bea1,RANKED_SOLO_5x5,DIAMOND,I,vk05Nta6ZUulnZqnqK7FOXa4M9LOILSYzGDtBhG7ojg2BeWt,Kan Po,0,363,346,False,False,False,False,NaN,NaN,NaN,NaN
818,8/22/2022,2d30df88-94f5-44e1-b793-52a2a58618dd,RANKED_SOLO_5x5,DIAMOND,I,jdYJupfrnS5f7TQZjHBGkAP0u3HrptxdqiHOM2Rqegv2bDJi,Tallest mountain,37,366,349,False,False,False,False,NaN,NaN,NaN,NaN
819,8/22/2022,fd2b2fb9-3b2b-4b42-93ad-4640d7a62f6f,RANKED_SOLO_5x5,DIAMOND,I,pa426gV1ahOYZGlNBSZkgS_2IpTAX0iVtROEjME7dKmg5OZk,Antara,63,61,46,False,False,False,False,NaN,NaN,NaN,NaN

In [ ]:
# drop NA and columns
diamond_players.drop("")

In [5]:
# print data labels

In [2]:
### Sort data by 4 different categories:
# champion release date
# champion mastery points
# role/lane

In [3]:
# Use machine learning model to model and answer questions